<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Weblab</title>

    <%= stylesheet_link_tag 'blackbird' %>
	<!-- %= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/cupertino/jquery-ui.css' % -->
	<%= stylesheet_link_tag 'http://www.warfuric.com/taitems/css/Aristo/jquery-ui-1.8rc3.custom.css' %>
	<!-- %= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui.all.css' % -->
	<%= stylesheet_link_tag 'flash' %>
	<%= stylesheet_link_tag 'screen' %>
	
	<!-- FONTS -->
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cuprum&subset=latin' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster&subset=latin' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cantarell&subset=latin' %>

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' %>
    <!-- %= javascript_include_tag 'http://jqueryui.com/themeroller/themeswitchertool/' % -->

    <%= javascript_include_tag 'jQuery.frameReady' %>
    <%= javascript_include_tag 'codemirror' %>
    <%= javascript_include_tag 'mirrorframe' %>
	<%= javascript_include_tag 'blackbird' %>
	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag 'application' %>
	
	<!-- %= csrf_meta_tag % -->
</head>
<body>
	<div id="main">	

		<header>
			<h1>JavaScript Weblab</h1>
		</header>
        <div id="switcher"></div>
        <div id="flashes"></div>

		<%= yield %>
	</div>
	<div id="footer">
		<p>Created by a pack of rabid monkeys at Integrallis</p>
	</div>
</body>
</html>
